:root {
    --bg-color: #E4EBF1;
    --element-bg-color: #EFF2F9;
    --primary-text-color: #505c67;
    --secondary-text-color: #B5BFC6;
    --button-default-color: #fafdff;
    --shadow-1: #22232438;
    --shadow-2: #161b1d41;
}