form {
    width: 700px;
    padding: 35px;
    background-color: var(--element-bg-color);
    color: var(--primary-text-color);
}

input,
label {
    margin: 15px 0;
}

label {
    font-family: 'campton book';
}

input {
    font-family: inherit;
    border: none;
    height: 12%;
    width: 99%;
}

input:focus {
    outline: none;
}